
* {margin: 0; padding: 0; box-sizing: border-box;}


body {
  background-color: #444;
}

#App {
  width: 100%;
}

#App > .container {
  margin-top: 80px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
